.financial-selector {
	
	h1 {
		font-size: 48px;
		margin-bottom: 0;
		font-weight: 600;
	}
	h3 {
		margin-top: 8px;
		font-weight: 400;
		color: $gray;
	}
	.hero {
		text-align: center;
		padding-top: 20px;
		-webkit-transition: all 0.2s;
   	transition: all 0.2s;
   	height: 400px;
	}
	&.financial-selector--login {
		overflow: hidden;
		height: calc(100vh-50px);
	}
}

.financial-selector__container {
	-webkit-transition: all 0.8s;
   transition: all 0.8s;
   position: relative;
  .panel-email-login {
  	-webkit-transition: all 0.8s;
   	transition: all 0.8s;
  	opacity: 0;
  	height: 400px;
  }
	&.email-login-animation {
		-webkit-transform: translate(0,-400px);
		.hero {
			opacity: 0;
		}
		.panel-email-login {
			opacity: 1;
		}
	}
}

.panel-email-login {
	legend {
		padding: 20px;
	}
}

.login-options {
	margin-top: 30px;
}

.navbar-logo {
	float: left;
	margin-top: 6px;
	margin-right: 8px;
	display: inline-block;
	width: 100px;
}

/* OLD STYLE */
.tag-manager .label {
	display: inline-block;
	margin:5px;
	padding: 8px 9px;
}
.tag-manager .tags { margin: 10px 0; }
