/* Modal scrollable list
   ========================================================================== */
.scrollable-list {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 240px);
  border: 1px solid #CCC;
  border-radius: 4px;
  min-height: 240px;
}

.content-box {
  overflow: hidden;
  position: relative;
}

.scrollable-list::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrollable-list::-webkit-scrollbar:vertical {
    width: 11px;
}

.scrollable-list::-webkit-scrollbar:horizontal {
    height: 11px;
}

.scrollable-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid $lighter-gray; /* should match background, can't be transparent */
    background-color: rgba(50, 50, 50, .5);
}

.scrollable-list::-webkit-scrollbar-track { 
    background-color: $lighter-gray; 
    border-radius: 2px; 
} 

.content-box {
  .scrollable-list {
    border: none;
  }
}

/* List-Group
   ========================================================================== */

.list-group {
  margin-bottom: 0;
}

.list-group-item {
  background-color: none;
  border:none;
  border-bottom: 1px solid $lighter-gray;
}

/* Box list
   ========================================================================== */

.box-list-container {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: $border-radius-small;
  border: 1px solid #ccc;
  overflow: hidden;
}

.box-list {
  color: #333;
  margin-top: 0;
  padding: 15px;
  &:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }
  &:hover,
  &:active { background-color: #fafafa; }

  .title {
    margin: 0;
    line-height: 1.5;
    @extend .ellipsed;
  }

  p {
    @extend .ellipsed;
    font-size: 85%;
    line-height: 1.1;
    margin: 5px 0 0 0;
  }

  .meta { color: $text-muted; }

  .box-list-body {
    padding-right: 40px;
    @extend .ellipsed;
  }

  .box-list-aside {
    float: right;
    @extend .ellipsed;
  }
}
/* Grid List
   ========================================================================== */

.grid-list {
  .grid-list-image {
    background: $light-gray;
    max-width: 100%;
    height: 150px;
    text-align: center;
    font-size: 0;
    overflow: hidden;
    & > * {
      display: inline-block;
      border: solid 2px #fff;
    }
    img {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }
  @media only screen and (max-width: $screen-sm) {
    .grid-list-image {
      height: 284px;
    }
  }
  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 0;
    width: 100%;
  }
  .content-box {
    margin: 8px;
    padding: 8px;
    border: 1px solid $light-gray;
    -webkit-box-shadow: inset 0 -1px 0 #d5d1cb, 0 1px 4px rgba(113, 108, 102, .1), transparent 0 0 0;
    box-shadow: inset 0 -1px 0 #d5d1cb, 0 1px 4px rgba(113, 108, 102, .1), transparent 0 0 0;
  }
  @media (max-width: 768px) {
    .grid-list-image {
      height: 100px;
    }
    h4 {
      font-size: 14px;
    }
    .content-box { 
      padding: 5px;
      margin: 5px;
    }
  }
}
