.modal-custom > div {
    width: auto;
    display: table;
    .modal-content {
      p {
        display: inline-block;
        white-space: nowrap;
      }
    }
  @media (max-width: $screen-xs) {
    display: block;
    .modal-content {
      p {
        white-space: normal;
      }
    }
  }
}

.modal-dialog .sign-in,
.modal-dialog .sign-in:hover {
  @extend .btn-sign-in;
  float: left;
  .fa::before, .glyphicons::before {
    line-height: 30px;
  }
}

iframe {
  height: calc(100vh - 240px);
  overflow-x: hidden;
  overflow-y: scroll;
} 

iframe.modal-dialog {
  border: none;
  margin: 0;
  width: 100%;
}
